@page "/ProductDetails/{ProductId:int}"
@inherits ProductDetailsBase

@if (Product == null && ErrorMessage == null)
{
	<h3>Loading product details... </h3>
}

else if (ErrorMessage != null)
{
	<h3 class="text-danger">@ErrorMessage</h3>
}

else
{
	<h3 class="text-center mb-5">Product Details</h3>
	<div class="row">
		<div class="col-md-6 mb-4">
			<img class="rounded img-fluid" src="@Product.ImagePath"/>
		</div>
		<div class="col-md-6">
			<h3>@Product.Name</h3>
			<p class="mb-4">@Product.Description</p>
			<p class="mb-4">
				<b>
					@Product.Price.ToString("C")
				</b>
				<span class="text-light bg-warning m-3">
					(@Product.Qty in Stock)
				</span>
			</p>
			<p class="mb-4">

			</p>

			<div>
				Quantity :
				<button class="btn btn-secondary" style="width: min-content" @onclick="DecrementCount"><i class="bi bi-arrow-down-short"></i></button>
				<span class="mx-1">@currentCount</span>
				<button class="btn btn-secondary" style="width: fit-content" @onclick="IncrementCount"><i class="bi bi-arrow-up-short"></i></button>

				<div class="mt-4">
					<a class="btn btn-success" href="/ShoppingCart"
						@onclick="() => AddToCart_Click(new CartItemToAddDto
					{
						CartId = 1,
						ProductId = Product.Id,
						Quantity = currentCount
					})"
						 >
						<i class="bi bi-cart-plus w-auto"></i>
						Add To Cart
					</a>
				</div>
			</div>



		</div>

	</div>
}