@page "/ShoppingCart"
@inherits ShoppingCartBase

@if (ShoppingCartItems == null && ErrorMessage == null)
{
	<DisplaySpinner></DisplaySpinner>
}

else if (ErrorMessage != null)
{
	<DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}

else
{
	<h3 class="mb-5">Shopping Cart</h3>
	<div class="row mb-5">
		<div class="col-md-9">
			@foreach (var cartItem in ShoppingCartItems)
			{
				<div class="row mb-4">
					<div class="col-md-4">
						<img src="@cartItem.ProductImageUrl"  class="img-thumbnail"/>
					</div>
					<div class="col-md-8">
						<h5>@cartItem.ProductName</h5>
						<div class="mb-4">
							@cartItem.ProductDescription
						</div>

						
						<div>Price: <b>@cartItem.TotalPrices.ToString("c")</b></div>
						<span></span>
						<input min="1" class="form-control d-inline mt-3 mb-3" style="width:75px" @bind=@cartItem.Qty type="number" id= "qty" placeholder="qty"/>
						<label class="form-label" for="qty"></label>
						<button 
							class="btn btn-outline-success"
							@onclick ="async () =>  
							{
								await Update_Click(cartItem.Id, cartItem.Qty);
							}">
							Update
						</button>

						<div>
							<button 
								data-bs-toggle="modal"
								data-bs-target="#modal_@cartItem.Id"
								type="button"
								class="btn btn-danger"><i class="bi bi-trash text-white"></i>
							</button>

							<div class="modal fade" id="modal_@cartItem.Id">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h3 class="modal-title">Delete Confirmation</h3>
										</div>
										<div class="modal-body text-center">
											<p>Are you sure want to remove item:<br> <b>@cartItem.ProductName from the shopping cart</b></p>
										</div>
										<div class="modal-footer">
											<button class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
											<button 
												@onclick="() => DeleteItem_Click(cartItem.Id)"
												class="btn btn-danger"  
												data-bs-dismiss="modal">Remove</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>				
			}
		</div>
		<div class="col-md-3">
			<h5>Cart Summary</h5>
			<div class="mt-2">
				<div> Total - @TotalPrice</div>
				<a href="" class="btn btn-success">
					<span class="oi oi-credit-card"></span>&nbsp; Proceed To Checkout
				</a>
			</div>
		</div>
	</div>
}
